.addTruck{
    display: inline-block;
    margin: 1% 1%;
    padding: 20px 15px;
    margin-right: 30px;
    display: inline-block;
    height:600px;
}

form{
    text-indent:10px;
    margin: 10px 10px;
}
input{
    margin: 3px 5px;
}
select{
    margin: 3px 5px;
}
label{
    padding-right: 6px;
}

.addEmp{
    height:600px;
    display: inline-block;
    margin-left: 10%;
}

.scrollMenu {
    max-height: 450px;
    overflow: auto;
    width:35%;
    display: inline-block;
    margin-right: 20px;
  }