<div class="container">

    <h3 class="d-flex justify-content-center"> Cosmic Food Truck</h3>
    <h4 class="d-flex justify-content-center"> "Taste the Cosmos"</h4>

    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <button routerLink="aboutus"
            class="m-1 btn btn-light btn-outline-primary" Button>About Us</button>
        </li>

        <li class="nav-item">
            <button routerLink="menu"
            class="m-1 btn btn-light btn-outline-success" Button>Menu</button>
        </li>

        <li class="nav-item">
            <button routerLink="truck"
            class="m-1 btn btn-light btn-outline-info" Button>Truck Location</button>
        </li>

        <li class="nav-item">
            <button routerLink="employee"
            class="m-1 btn btn-light btn-outline-warning" Button>Employee Login</button>
        </li>


    </ul>
    </nav>

<router-outlet></router-outlet>
</div>