.scroll {
    max-height: 425px;
    overflow: auto;
    width:35%;
    float:left;
    margin-left: 10px;
  }

  .addOptions{
    float: left;
  }

  .scrollMenu {
    max-height: 450px;
    overflow: auto;
    width:30%;
    float:right;
    margin-right: 20px;
  }

