.scroll {
    max-height: 450px;
    overflow: auto;
    width:400px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
  }

.addEmployee{
  display: inline-block;
    margin-right: 40%;
}