
<table class="table table-striped">
    <thead>
        <tr>

            <th>MenuID</th>
            <th>Main1</th>
            <th>Main2</th>
            <th>Main3</th>
            <th>Drink1</th>
            <th>Drink2</th>
            <th>Side1</th>
            <th>Side2</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let dataItem of AllMenu">
            <td>{{dataItem.id}}</td>
            <td>{{dataItem.main1}}</td>
            <td>{{dataItem.main2}}</td>
            <td>{{dataItem.main3}}</td>
            <td>{{dataItem.drink1}}</td>
            <td>{{dataItem.drink2}}</td>
            <td>{{dataItem.side1}}</td>
            <td>{{dataItem.side2}}</td>
        </tr>
    </tbody>
</table>
